* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
    
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #4cc28b;
    color: white;
  }

  .menu-section {
    /* Styles for the Menu section */
}

.search-area {
    float: right; /* Aligns the search area to the right */
    margin-top: 10px; /* Provides some space from the content above */
}

.search-area input[type="text"] {
    padding: 8px;
    font-size: 14px;
}

.search-area button {
    padding: 8px 20px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    /* Add additional styles as needed */
}

.search-area button:hover {
    background-color: #45a049;
}


.header h1{
    margin: 0%;
    padding: 0%;
    font-size: 50px;
    color: rgb(227, 235, 226);
    margin-top: 10px;
}
  .header img{
padding-top: 15px;
height: 500x;
width:300px;

  }
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }